<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>

        <!-- Navbar -->
        <%- include("./partials/navbar.ejs") %>

            <!-- Main -->
            <main class="landing-main">
                <div class="main-text">
                    <h2>Find Innovative Recipes by Local People!</h2>
                    <a href="/recipes">View Recipes</a>
                </div>
                <div class="main-image-container">
                    <img src="/assets/landing.svg" alt="main-image" class="main-image">
                </div>
            </main>

            <!-- Footer -->
            <%- include("./partials/footer.ejs") %>

    </body>

</html>