<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>

        <!-- Navbar -->
        <%- include("./partials/navbar.ejs") %>

            <!-- Main -->
            <main class="form-container">
                <form>
                    <h2>Login</h2>

                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email">
                    <div class="errors email"></div>

                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password">
                    <div class="errors password"></div>

                    <button>Login</button>

                    <div class="register-login-container">
                        <p>Don't have an account?
                            <a href="/register">Register Here</a>
                        </p>
                    </div>

                    <!-- Demo Credentials -->
                    <div class="demo-container">
                        <p className="demo-name">Demo Credentials:</p>
                        <img src="/assets/eye.svg" alt="" class="show-icon hidden" />
                        <img src="/assets/eye-off.svg" alt="" class="hide-icon" />
                    </div>
                    <div class="credentials-container hidden">
                        <p class="email-credential">Email: kunal@google.com</p>
                        <p class="password-credential">Password: test@123</p>
                    </div>
                </form>

                <div class="login-image-container">
                    <img src="/assets/login.svg" alt="login-image" class="login-image">
                </div>
            </main>

            <!-- Footer -->
            <%- include("./partials/footer.ejs") %>

                <!-- Link to script inside public folder -->
                <script src="/scripts/login.js"></script>

    </body>

</html>