nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.logo-container,
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 50px;
    height: auto;
}

h1 {
    font-family: 'Pacifico', cursive;
}

.displayName {
    background-color: var(--primary-color);
    padding: 5px 10px;
    color: var(--text-secondary-color);
    margin-right: 10px;
    border-radius: 4px;
}

.links>li>a:hover {
    color: var(--primary-color);
}

/* Create Recipe Icon */
img.create-recipe-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu & Cancel Icon */
.menu-icon,
.cancel-icon {
    width: 2.5rem;
    height: auto;
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;
}

li.create-recipe-text {
    display: none;
}

.hidden {
    display: none;
}

/* Media Queries */
@media (max-width: 456px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        margin-bottom: 75px;
    }

    /* Mobile Navbar */
    .links {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 5rem;
        gap: 0px;
        width: 100vw;
        height: 100%;
        position: fixed;
        left: 100%;
        background-color: var(--primary-color);
        z-index: 1;
        transition: all 0.7s ease-out;
    }

    .links>li {
        width: 100%;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    .links>li>a {
        color: var(--text-secondary-color);
    }

    li.displayName {
        margin-right: 0px;
        border-radius: 0px;
        background-color: var(--background-color);
        color: var(--text-primary-color);
        margin-bottom: 10px;
        font-weight: 500;
        text-transform: capitalize;
    }

    li.displayName::before {
        content: "Hi,";
        margin-right: 5px;
    }

    .menu-icon,
    .cancel-icon {
        display: block;
        z-index: 2;
    }

    li.create-recipe-text {
        display: inherit;
    }

    li.create-recipe-icon-container {
        display: none;
    }
}